body{
  background-image:url(Nasabackground.jpeg) ;
}
.heading{
  align-content: center;
  font-display: flex;
  font-size: 30px;
  color:blue;
}
.content {
      margin-top: 1rem;
    }
    .content a {
      margin: 0 1rem;
      align-content: center;
      color: #fff;
      text-decoration: none;
    }
    
    
.research {
  background: white;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 20px auto;
  width: 85%;
  text-align: center;
  transition: all 0.4s ease; 
  transform: scale(1);
}


.research:hover {
  transform: scale(1.05); /* Slight zoom-in effect */
  box-shadow: 0 0 25px rgba(0, 200, 255, 0.8); /* Glowing effect */
}

.research img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.research:hoverimg {
  transform: scale(1.03);
  filter: brightness(1.1);
}
    
  .research h3{
  text-align: center;
  color: #00f;
  text-shadow: 0 0 10px #0ff, 0 0 20px #00f;
  border-bottom: 2px solid #0ff;
  display: inline-block;
  padding-bottom: 5px;
}
.research a {
  color: white;
  background-color: #0077ff;
  padding: 4px 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  background-color: #00bfff;
}
.research img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.research {
  width: 90%;
  margin: 15px auto;
}
    
    footer{
      font-size: 20px;
      align-content: center;
      font-weight: bold;
    }
